.fc .fc-daygrid-event {
  white-space: normal !important;
  height: auto !important;
  line-height: 1.2 !important;
}

.fc .fc-daygrid-event .fc-event-title {
  white-space: normal !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;

  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;

  word-break: keep-all;
}

.fc .fc-daygrid-event-harness {
  overflow: visible !important;
}

.fc .fc-daygrid-day-frame {
  min-height: 110px; 
}
